{% extends "material/base.html" %}

<title>{% block title %}Iris app{% endblock %} </title>

{% block content %}
    <div class="show-case container ">
        <div class="row teal lighten-2">
            <div class="col 12 m10 offset-m1 center" style="padding-bottom: 2rem;">
                <h2 class="white-text">Iris App</h2>
                <a href="{{url_for('index')}}" class="btn light-blue lighten-1 btn-small waves-effect waves-dark">Back</a>
            </div>
        </div>
    </div>

    <div class="container">
        {{ df_review.to_html(classes='table striped', na_rep='-') | safe }}
    </div>
{% endblock %}